// Color
.txWhite {
  color: $white;
}

.txGold {
  color: $gold;
}

.txLilac {
  color: $lilac;
}

.txGrey {
  color: $grey;
}

.txGreyMed {
  color: $greyMed;
}

.txGreyDark {
  color: $greyDark;
}
